:root {
  --primary: rgb(21, 101, 192);
  --primary-variant: #0d47a1;
  --secondary: #fbc02d;
  --secondary-variant: #f57f17;

  --divider: #bbbbbb;
  --background: #ffffff;
  --surface: #f7fbff;
  --surface-header: #eaf6ff;
  --error: #d50000;

  --disabled: #dddddd;

  --on-primary: #ffffff;
  --on-secondary: #000000;

  --on-background: #000000;
  --on-surface: #000000;
  --on-error: #ffffff;

  --on-disabled: #666666;

  --primary-hover: rgba(21, 101, 192, 0.08);
  --primary-active: rgba(21, 101, 192, 0.16);

  --input-hover: black;

  /* Colors */
  --dark-gray: rgb(117, 117, 117);
}
